<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="A simple anonymous forum.">
        <meta name="keywords" content="anonymous, forumly, forum, forums">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

        <title>{% block title %}Forumly{% endblock %}</title>

        {% block meta %}
            <meta property="og:title" content="Forumly"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="https://forumly.com"/>
            <meta property="og:description" content="A simple anonymous forum."/>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
            {% stylesheets filter="scssphp" output="css/app.css"
                '@ForumlyAppBundle/Resources/public/scss/main.scss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>

            {% javascripts filter="?jsqueeze" output="js/app.js"
                'bundles/app/js/vendor/*'
                'bundles/fosjsrouting/js/router.js'
                '@ForumlyAppBundle/Resources/public/js/general.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}

        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block flashbag %}
            <div class="text-center flashbag-container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flashbag">
                        <h3>{{ flashMessage }} <i class='fa fa-close flash-close'></i></h3>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block body %}
            <div class="app-container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
