<div class="thread-reply" id="reply_{{reply.getId()}}">
    <div class="reply-header">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-tools">
                <a href="javascript:void(0)" onclick="deleteReply({{reply.getId()}});" title="Delete Reply"><i class="fa fa-trash"></i></a>
            </div>
        {% endif %}
    </div>
    <p class="reply-body">{{reply.getBody()|nl2br}}</p>
    <a href="#reply_{{reply.getId()}}">#{{reply.getId()}}</a>
    <div class="reply-meta">
        Replied at {{reply.getCreatedAt()|date("m/d/Y")}}
    </div>
</div>