{% extends "ForumlyAppBundle::layout.html.twig" %}

{% block content %}
    <h2>Create New Thread</h2>
    <br>
    <div class="panel">
        <form action="{{ path('thread_post', {id: thread.getId()}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="text-right">
            <a href="{{path('home')}}" class="btn btn-danger"><i class="fa fa-close"></i> Cancel</a>
            <input class="btn btn-primary" type="submit" />
        </div>
        </form>
    </div>
    <br>
{% endblock %}
