<div class="thread" id="thread_{{thread.getId()}}">
    <div class="title">
        <a href="{{ path('thread_view', {id: thread.getId()}) }}">{{thread.getTitle()}}</a>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-tools">
                <a href="{{ path('thread_post', {id: thread.getId()}) }}" title="Edit Thread"><i class="fa fa-edit"></i></a> 
                <a href="javascript:void(0)" onclick="deleteThread({{thread.getId()}}, {{viewPage ? 'true' : 'false'}});" title="Delete Thread"><i class="fa fa-trash"></i></a>
            </div>
        {% endif %}
    </div>
    <hr>
    <p class="body">{{thread.getBody()|nl2br}}</p>
    {% if not viewPage %}
        <a href="{{ path('thread_view', {id: thread.getId()}) }}" class="reply">
            <i class="fa fa-edit"></i> Reply
        </a>
    {% endif %}
    <div class="meta">
        <a href="#thread_{{thread.getId()}}">#{{thread.getId()}}</a>
        <span>Posted {{thread.getCreatedAt()|date("m/d/Y")}}<span>
    </div>
</div>