{% extends "ForumlyAppBundle::layout.html.twig" %}

{% block content %}
    <a href="{{path('home')}}" class="btn btn-primary btn-header"><i class="fa fa-arrow-left"></i> Go Back</a>
    <br><br>
    {% include 'ForumlyAppBundle:Thread:thread.html.twig' with { 'thread': thread, 'viewPage': true } %}    <br>
    
    <div class="text-left"><h3>{{replies|length}} Thread Replies</h3></div>
    <hr>
    {% for reply in replies %}
        {% include 'ForumlyAppBundle:Reply:reply.html.twig' with { 'reply': reply } %}
    {% else %}
        <br>
        <h2>Sorry, there are currently no replies to this thread!</h2>
        <br><br>
    {% endfor %}
    <a href="{{ path('reply_post', {id: thread.getId()}) }}" class="btn btn-primary btn-header"><i class="fa fa-edit"></i> Post Reply</a>
{% endblock %}