{% extends "ForumlyAppBundle::layout.html.twig" %}

{% block content %}
    <h2>Welcome to Forumly!</h2>
    <p>
        Eaedem enim utilitates poterunt eas labefactare atque pervertere. Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur.<br>
        <br>
        Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Si verbum sequimur, primum longius verbum praepositum quam bonum.
    </p>
    <br>
    <a href="{{path('thread_post')}}" class="btn btn-primary btn-header"><i class="fa fa-edit"></i> Create New Thread</a>
    <br><br>
    {% for thread in threads %}
        {% include 'ForumlyAppBundle:Thread:thread.html.twig' with { 'thread': thread, 'viewPage': false } %}
    {% else %}
        <br>
        <h2>Sorry, there are currently no threads!</h2>
        <br>
    {% endfor %}
    <br>
{% endblock %}
