<div align="center" class="footer">
    <span>Copyright © 2016 Forumly. All Rights Reserved.</span>
    <br>
    
    {% if is_granted('ROLE_ADMIN') %}
        Logged in as {{app.user.username}}. <a href="{{path('admin_logout')}}">Logout</a>
    {% else %}
        <a href="{{path('admin_login')}}">Admin Login</a>
    {% endif %}
</div>