<div class="header">
    <a class="header-title" href="{{path('home')}}">
        <i class="header-icon fa fa-comments fa-lg"></i> Forumly
    </a>
    <span class="header-description">A simple anonymous forum.</span>
</div>