{% extends 'base.html.twig' %}

{% block header %}
    {% include 'ForumlyAppBundle::header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'ForumlyAppBundle::footer.html.twig' %}
{% endblock %}