$primary-color: #4f5c84;
$secondary-color: #233237;
$accent-color: #7a8bbf;
$accent-color-dark: darken($accent-color, 10%);

$breakpoint-mobile: 800px;

html {
    overflow-x: hidden;
}

body {
    background: url('/bundles/forumlyapp/images/bg.png');
    background-color: $secondary-color;
    color: #222222;
    margin: 0px;
    padding: 0px;
}

form {
    text-align: left;
}

a {
    color: $accent-color;
    text-decoration: inherit;
}

a:hover {
    color: darken($accent-color, 5%);
}

.header {
    text-align: left;
    width: 100%;
    color: #FFFFFF;
    background-color: $primary-color;
    padding: 12px;
    box-shadow: 0px 4px rgba(0, 0, 0, .3);

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .header-title {
        position: relative;
        display: table;
        top: -6px;
        margin-bottom: -10px;
        font-size: 30px;
        font-family: Impact, Charcoal, sans-serif;

        .header-icon {
            position: relative;
            top: -6px;
        }
    }

    .header-description {
        position: relative;
        left: -2px;
        font-size: 12px;
    }
}

.footer {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 12px;
    background-color: $primary-color;
    padding: 12px;
    box-shadow: 0px 4px rgba(0, 0, 0, .3);
}

.app-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
    
    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }

    @media (min-width: $breakpoint-mobile) {
        width: 70%;
    }
}

.btn-header {
    background-color: $accent-color;
    border-color: $accent-color-dark;
    margin: 12px;
    font-size: 20px;
    box-shadow: 3px 5px rgba(0, 0, 0, .5);
}

.panel {
    box-shadow: 3px 5px rgba(0, 0, 0, .5);
    color: #FFFFFF;
    text-align: left;
    padding: 10px;
    margin-bottom: 18px;
    display: block;
    border: solid 3px;
    border-radius: 10px;
    border-color: $accent-color-dark;
    background-color: $accent-color;
}

.thread-reply {
    @extend .panel;

    a {
        color: #FFFFFF;
    }

    .reply-header {
        padding: 0px;
        margin-bottom: 6px;
    }

    .reply-body {
        padding-left: 8px;
        padding-bottom: 5px;
    }

    .reply-meta {
        float: right;
    }
}

.thread {
    @extend .panel;

    .title {
        padding-top: 5px;
        margin-bottom: -16px;
        font-size: 20px;
        a {
            color: #FFFFFF;
        }
    }

    .body {
        padding-left: 8px;
        padding-bottom: 5px;
    }

    .reply {
        float: right;
        color: #FFFFFF;
    }

    .meta {
        text-align: left;
        a {
            color: #FFFFFF;
        }
    }
}

.flashbag-container {
    text-align: center;
}

.flash-close {
    cursor: pointer;
    padding: 8px;
    font-size: 30px;
    color: black;
}
.flash-close:hover {
    color: #555555;
}

.flashbag {
    @extend .panel;
    padding: 6px;
    text-align: center;
    word-wrap: break-word;
    margin: 16px;
}

.admin-tools {
    float: right;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
    }
}